<div class="container">
  <div class="row">
    <br />
    <a href="#/home" class="btn btn-primary"><i class="fa fa-undo"></i> Retour</a>
    <h1 class="page-header">
      Qui sommes nous?
    </h1>
  </div>
  <div clas="row">
    <div class="col-md-12">
      <img src="../aide_humanitaire.jpg" /><br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puzzle Project est une plateforme collaborative aillant pour but de permettre
      la mise en place et la réalisation de projet proposés par des particuliers
      ou des organismes humanitaires en les mettant en relation.<br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chaque membre est libre de proposer un projet ou de participer à la réalisation
      d'autres projets, qu'il s'agisse d'une participation humaine, matérielle
      ou monétaire.<br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dans un soucis de sécurité tous les projets devrons être pris en charge par
      un organisme humanitaire certifié pour éviter tout arnaques ou problèmes.<br  /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vous pouvez nous contacter <a href="#/contact" class="btn btn-primary"><i class="fa fa-undo"></i> ici</a>.<br  /><br />
      N'hésitez pas à nous suivre sur nos réseaux sociaux!
    </div>
  </div>
</div>
