<!DOCTYPE html>
<html ng-app="puzzleProjectApp">
	<head>
		<title></title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="Styles/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="Styles/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="Styles/textAngular.css" />
		<link rel="stylesheet" type="text/css" href="Styles/index.css" />

	</head>
	<body>

		<!--
			La directive ng-view permettant de charger un template de page html
			en fonction du sysème de routage
		-->
		<div ng-view>
		</div>

		<!--
			La barre de navigation
		-->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <div class="container">
				<div class="navbar-header text-white">
					<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
						<span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
				  </button>
					<a class="navbar-brand" href="#/home"><i class="fa fa-lg fa-superpowers"></i>Puzzle Project</a>
				</div>
				<div uib-collapse="navCollapsed" class="collapse navbar-collapse">
					<ul class="nav navbar-left navbar-nav">
						<li>
							<a href="#/about">A propos<br></a>
						</li>
						<li>
							<a href="#/news">Actualités<br></a>
						</li>
						<li>
							<a href="#/projects">Projets</a>
						</li>
						<li>
							<a href="#/contact">Contact<br></a>
						</li>
					</ul>
						<ul class="nav navbar-nav navbar-right">
<!--
						<li uib-dropdown>
							<a uib-dropdown-toggle>Langue <span class="glyphicon glyphicon-globe"></span></a>
							<ul uib-dropdown-menu>
								<li><a ui-sref="b">Français</a></li>
								<li><a ui-sref="a">Anglais</a></li>
							</ul>
						</li>
					-->
						<a class="btn btn-success navbar-btn navbar-right">Faire un don <span class="fa fa-gratipay"></span></a>
					</ul>
				</div>
		  </div>
		</nav>


		<!--
			Le footer de l'application
		-->
		<footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1><i class="fa fa-lg fa-superpowers"></i>Puzzle Project</h1>
            <p>Association à but non lucratif</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
							<!--
								Icones visibles sur les petits écrans
							-->
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
								<a href="#"><i class="fa fa-3x fa-fw fa-facebook text-white"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-white"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-white"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-google-plus text-white"></i></a>
              </div>
            </div>
            <div class="row">
							<!--
								Icones visibles sur les autres écrans
							-->
              <div class="col-md-12 hidden-xs text-right">
								<a href="#"><i class="fa fa-3x fa-fw fa-facebook text-white"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-white"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-white"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-google-plus text-white"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
		<br />


		<script src="../Angular/angular.js"></script>
		<script src="../Angular/angular-animate.js"></script>
		<script src="../Angular/angular-resource.js"></script>
		<script src="../Angular/angular-route.js"></script>
		<script src="../Angular/angular-touch.js"></script>
		<script src='../Angular/textAngular-rangy.min.js'></script>
		<script src='../Angular/textAngular-sanitize.min.js'></script>
		<script src='../Angular/textAngular.min.js'></script>
		<script src="../Angular/ui-bootstrap-tpls.min.js"></script>
		<script src="../Controllers/index.js"></script>
		<script src="../Controllers/home.js"></script>
		<script src="../Controllers/projects.js"></script>
		<script src="../Controllers/contacts.js"></script>
	</body>
</html>
